# DOMAIN NAME
DOMAIN_NAME=login.42.fr

# MariaDB  DATABASE
MYSQL_DATABASE=database_name
MYSQL_USER=user_name
MYSQL_PASSWORD=user_password
MYSQL_ROOT_PASSWORD=superuser_password

# WordPress Admin
WP_ADMIN_USER=admin_user_name
WP_ADMIN_PASSWORD=user_password
WP_ADMIN_EMAIL=admin_user_mail

# WordPress Second User
WP_USER=user_name
WP_PASSWORD=user_password_here
WP_EMAIL=user_mail